@charset "utf-8";

@font-face {
    font-family: '양진체';
    src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SeoulNamsanM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
            
            

/* 노말라이즈 */

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: inherit;
}

/* 라이브러리 */

a, img{
    display: block;
}

/* 라이브러리 */

.toast-youtube-embed {
    background-color:red;
  }
  
  .toast-youtube-embed {
    position:relative;
  }
  
  .ratio-16-9::after {
    content:"";
    display:block;
    padding-top:56.25%;
  }
  
  .ratio-1-1::after {
    content:"";
    display:block;
    padding-top:100%;
  }
  
  .abs-full {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
  


.con-max-width{
    max-width: 1280px;
    margin: 0 auto;
}

.margin-0-auto{
    margin: 0 auto;
}

.con{
    width: 100%;
}

.img-box img{
    width: 100%;
}

.height-100p{
    height: 100%;
}

.border-red{
    border: 3px solid red;
}

.block{
    display: block;
}

.flex{
    display: flex;
}

.flex-jc-c{
    justify-content: center;
}

.flex-jc-b{
    justify-content: space-between;
}

.flex-jc-a{
    justify-content: space-around;
}

.flex-jc-e{
    justify-content: flex-end;
}

.flex-ai-c{
    align-items: center;
}

.flex-1-0-0{
    flex: 1 0 0;
}

.flex-d-c{
    flex-direction: column;
}

.flex-wrap{
    flex-wrap: wrap;
}

.sans{
    font-family: 'Noto Sans KR', sans-serif;
}

.serif{
    font-family: 'Noto Serif KR', serif;
}

.yangjin{
    font-family: '양진체','Noto Sans KR', sans-serif;
}

.namsan{
    font-family: 'SeoulNamsanM','Noto Sans KR', sans-serif;
}

.noselect{
    user-select: none;
}

.bold{
    font-weight: bold;
}
.light{
    font-weight: 300;
}

.relative{
    position: relative;
}

.menu-btn{
    /* border: 1px solid red; */
    width: 100%;
    
    position: relative; /* If you want text inside of it */
}

.menu-btn::after{
    content: "";
    display: block;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.menu-btn > span{
    width: 100%;
    height: 3px;
    transition: height 0.5s;
    background-color: #9B8181;
    position: absolute;
    top: 0;
    left: 0;
}

.menu-btn > span:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
}

.menu-btn > span:nth-child(3){
    top: calc( 100% - 3px );
}

.mb{
    display: none;
}

@media(max-width:768px){
    .mb{
        display: block;
    }
    .pc{
        display: none;
    }
}

/* 애니메이션 */
@keyframes bangul-jump{

    0%{
        transform: translateY(0);
    }
    30%{
        transform: translateY(-15px);
    }
    60%{
        transform: translateY(0);
    }

    /* from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-15px);
    } */
}

@keyframes article-fadein{
    from{
        opacity: 0;
        transform: translateY(100px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

/* 커스텀 */

html, body{
    font-size: 10px;
    background: #fff;
    font-family: 'SeoulNamsanM','Noto Sans KR', sans-serif;
    color:  #9B8181;
    min-width: 320px;
    min-height: 100%;
    position: relative;
 
}

html{
    height: 100%;
    
}
body{
    width: 100%;
    min-height: 100%;
   
}

html.on, body.on{
    overflow-y: hidden;
}

::-webkit-scrollbar{
    width: 15px;
    border-radius: 7.5px;
background: transparent;
/* box-shadow: inset 0px 0px 7px rgba(155,129,129,0.5); */

}

::-webkit-scrollbar-thumb{
background-color: #928c8c;
opacity: 0.8;
background-clip: padding-box;
border: 3px solid transparent;
border-radius: 7.5px;
}

::-webkit-scrollbar-track{
    /* display: none; */
    background: transparent;
}



ul.social > li > a{
    font-size: 2.5rem;
    padding: 10px;
    opacity: 0.5;
    transition: opacity 0.3s;
}

ul.social > li > a:hover{
    opacity: 1;
}

.con-padding{
    transition: padding 0.5s;
}

@media(max-width: 1280px){
    .con-padding{
        padding: 0 20px;
    }

}

@media(max-width: 768px){
    .con-padding{
        padding: 0 15px;
    }
}

/* 헤더 시작 */

    header{
        height: 200px;
        transition: top 0.5s;
        background-color: #fff;
        top: -100px;
        
    }

    header.fixed{
        position: fixed;
        z-index: 999;
        width: 100%;
        height: 70px;
        top: 0;
        box-shadow: 0px 3px 15px rgba(213,184,184,0.2);
    }


    header > nav{
        width: 1280px;
        height: 100%;
        
    }

    header > nav > .cate-menu  {
        cursor: pointer;
        font-size: 1.5rem;
        opacity: 0.7;
        transition: opacity 0.5s, color 0.5s;
    }

    header > nav > .cate-menu:hover{
        opacity: 1;
        color: #df6767;
    }

    header > nav > .cate-menu:hover > .menu-btn > span{
        background-color:  #df6767;
    }

    header > nav > .cate-menu > .menu-btn{
        width: 30px;
        margin-right: 12px;
        transition: width 0.5s;
    }

    header > nav > .cate-menu > .menu-btn > span{
        transition: background-color 0.5s;
    }

    header > nav > div.logo{
        height: 100%;
       
    }


    header > nav > div.logo > a{
        position: relative;
        height: 100%;
        
    }    

    header > nav > div.logo > a > img{
        width: auto;
        height: 85%;
        max-height: 115px;
        
    }

    header.fixed > nav > div.logo > a > img{
        height: 100%;
    }

    header > nav > div.logo > a > img.normal{
        transition:  opacity 0.5s;
    }
    header > nav > div.logo > a > img.hover{
        position: absolute;
        opacity: 0;
        transition:  opacity 0.5s;
    }

    header > nav > div.logo > a:hover > img.normal{
        opacity: 0;

    }

    header > nav > div.logo > a:hover > img.hover{
        opacity: 1;
    }



/* 미디어 쿼리 */


@media(max-width: 768px){
    header{
        height: 100px;       
    }

    header > nav{
        position: relative;
    }

    header > nav > .cate-menu {
        flex: 0 0 0;
        padding: 10px;
        transform: translateX(-10px);
    }

    header > nav > .cate-menu > .menu-btn{
        width: 30px;
        margin-right: 0;
    }

    header > nav > div.logo{
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translateX(-50%) translateY(-50%);
       width: 30%;
       max-width: 120px;
       min-width: 90px;
    }
    header > nav > div.logo img{
        width: 100%;
    }

    .menu-btn > span{
        height: 2px;
    }
    
    .menu-btn > span:nth-child(2){
        top: 50%;
        transform: translateY(-50%);
    }
    
    .menu-btn > span:nth-child(3){
        top: calc( 100% - 2px );
    }
    
}

@media(max-width: 450px){
    header > nav > .cate-menu > .menu-btn{
        width: 27px;        
    }


}

/* 카테고리 메뉴 */
#slide-menu-wrap{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 500;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s 0s, opacity 0.3s;
}

#slide-menu-wrap div.slide-menu-bg{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
}

#slide-menu-wrap.on{
    visibility: visible;
    opacity: 1;
    transition: visibility 0.3s 0s, opacity 0.3s;
}

#slide-menu-wrap  div.slide-menu-body{
    padding: 20px 15px;
    z-index: 550;
    position: absolute;
    left:0;
    top: 0;
    width: 30%;
    height: 100%;
    background: #fff;
    min-width: 280px;
    max-width: 450px;
    transform: translateX(-100%);
    transition:  transform 0.3s;
}

#slide-menu-wrap.on  div.slide-menu-body{
    transform: translateX(0);
}

#slide-menu-wrap  div.slide-menu-body > .con{
    flex-direction: column;
    margin-bottom: 15%;
}

#slide-menu-wrap  div.slide-menu-body div.logo{
    opacity: 0.7;
}

#slide-menu-wrap > div.slide-menu-body  ul.cate-menu{
    width: 70%;
    margin: 0 auto;
    font-size: 2.3rem;
    transition: font-size 0.5s;

}

#slide-menu-wrap > div.slide-menu-body  ul.cate-menu > li{
    font-weight: 600;
    cursor: pointer;
    margin: 20px 0;
}

#slide-menu-wrap > div.slide-menu-body  ul.cate-menu > li a{
    display: inline-block;
}

#slide-menu-wrap > div.slide-menu-body  ul.cate-menu > li:before{
 display: inline-block;
 font-family: "Font Awesome 5 Free";
 content: "\f1b0";
 font-weight: 900;
 margin-right: 10px;
 transition: margin-right 0.35s;
}

#slide-menu-wrap > div.slide-menu-body  ul.cate-menu > li:hover:before{
    margin-right: 20px;
    
}

#slide-menu-wrap  > div.slide-menu-body  ul.cate-menu ul.submenu{
    padding: 5px 0;
    margin-left: 15px;
    font-size: 0.85em;
}

#slide-menu-wrap > div.slide-menu-body  ul.cate-menu ul.submenu > li{
    margin: 10px 0;
    transition: margin-left 0.35s, color 0.5s;
}

#slide-menu-wrap > div.slide-menu-body  ul.cate-menu ul.submenu > li:before{
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    content: "\f105";
    font-weight: 900;
    margin-right: 10px;
    
}

#slide-menu-wrap > div.slide-menu-body  ul.cate-menu ul.submenu > li:hover{
    margin-left: 15px;
    color: #df6767;
}

#slide-menu-wrap > div.slide-menu-body  ul.social > li > a{
    font-size: 2.2rem;
    padding: 7px;
}

#slide-menu-wrap div.close-btn{
    width:35px;
    height: 35px;
    position: absolute;
    font-size: 3.5rem;
    top: 20px;
    right: 15px;
    cursor: pointer;
    transition: width 0.3s;
}

#slide-menu-wrap div.close-btn > .close-btn-wrap{
    width: 100%;
    height: 100%;
    position: relative;
}

#slide-menu-wrap div.close-btn > .close-btn-wrap > span{
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #9B8181;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translateX(-50%) translateY(-50%) rotate(-45deg);
    transform-origin: center;
    transition: background-color 0.3s, height 0.3s;
}

#slide-menu-wrap div.close-btn > .close-btn-wrap > span:last-child{
    transform:translateX(-50%) translateY(-50%) rotate(45deg);
}

#slide-menu-wrap div.close-btn:hover >  .close-btn-wrap > span{
   background-color: #df6767;
}

@media(max-width:768px){


    #slide-menu-wrap > div.slide-menu-body  div.logo img{
        width: 120px;
    }

    #slide-menu-wrap > div.slide-menu-body ul.cate-menu{
        font-size: 1.8rem;
    }
    
    

}

@media(max-width:450px){
    #slide-menu-wrap > div.slide-menu-body  ul.cate-menu{
        font-size: 1.7rem;
    }

    #slide-menu-wrap > div.slide-menu-body  ul.cate-menu > li{
        margin: 10px 0;
    }

    #slide-menu-wrap div.close-btn{
        width:30px;
        height: 30px;
    }

    #slide-menu-wrap div.close-btn > .close-btn-wrap > span{

        height: 2px;

    }


}

/* 헤더 끝 */
/* 콘텐츠 시작 */


#contents{
    padding-bottom: 200px;
}


#contents.header-fixed{
    padding-top: 200px;
    
  
}

@media(max-width:768px){
    #contents.header-fixed{
        padding-top: 100px;
    }

    #contents{
        padding-bottom: 150px;
    }
}

/* 메인 이미지 영역 시작 */

div#main .con{
    height: 350px;
    background-color:#F6EBEB;
    overflow: hidden;
    position: relative;
}

div#main div.text-box{
    color: #fff;
    font-size: 5rem;
    font-weight: 900;
    line-height: 8.3rem;
    position: absolute;
    left: 50%;
    top: 42%;
    transition: font-size 0.5s;
    transform: translateX(-50%) translateY(-50%);
}

div#main .img-box-wrap{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

div#main .img-box-wrap > div.img-box{
    width: 100px;
    margin: 0 10px;
    animation-name: bangul-jump;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: linear;
}

div#main .img-box-wrap > div.img-box:nth-child(2){
    animation-delay: 0.2s;
}
div#main .img-box-wrap > div.img-box:nth-child(3){
    animation-delay: 0.4s;
}

@media(max-width:768px){
    div#main div.text-box{      
        font-size: 8rem;  
        line-height: 8.3rem;      
        left: 50%;
        top: 47%;
        transform: translateX(-50%) translateY(-50%);
    }

    div#main .img-box-wrap{   
        top: unset;  
        bottom: 7%;
        left: 85%;
        transform: translateX(-50%);
    }
}

/* 메인 이미지 영역 끝 */
/* 최근 글 시작 */

#recent-articles > .con {
    margin: 75px auto;
    margin-bottom: 200px;
}

#recent-articles > .con > h2.title{
    font-weight: bold;
    font-size: 2.7rem;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 100px;
    transition: font-size 0.5s;
}

#recent-articles > .con > h2.title > i{
    opacity: 0.7;
    font-size: 0.8em;
    padding: 0 10px;
    
}

#recent-articles > .con > h2.title > i:last-child{
    transform: rotateY(-180deg);
}

 .article-box-wrap{
    flex-wrap: wrap;
    width: 100%;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.5s, transform 0.5s;
   

    animation-name: article-fadein;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
    animation-direction: linear;
    animation-fill-mode: forwards;

  
}

 .article-box-wrap > a.article{
    width: 25%;
    padding: 0 10px;
    margin-bottom: 25px;
    transition: width 0.5s;
}

.article-box-wrap .article-box{
    width: 100%;
    min-width: 200px;
    max-width: 250px;
    position: relative;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.16);
    margin: 0 auto;
  
}

 .article-box-wrap .article-box::after{
    content: "";
    display: block;
    padding-bottom:calc( (3 / 2) * 100% );
}

.article-box-wrap .article-box > .article-thumbnail{
    position: absolute;
    width: 100%;
    background-color: #F6EBEB;
}
.article-box-wrap .article-box > .article-thumbnail > div.img-box{
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
    position: relative;

}

 .article-box-wrap > a.article .article-thumbnail > div.img-box img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s, opacity 0.5s;
    opacity: 0.6;
    
}

 .article-box-wrap > a.article:hover  .article-thumbnail > div.img-box img{
  transform: scale(1.2);
  opacity: 1;
}

.article-box-wrap .article-box > .article-body{
    position: absolute;
    width: 100%;
    height: 33.33%;
    bottom: 0;
    overflow:hidden;
    padding: 10px 15px;
    font-size: 1.5rem;
    transition: font-size 0.5s;
    flex-direction: column;
}


.article-box-wrap .article-box > .article-body > h4.title{
    font-size: 1.5em;  
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

.article-box-wrap .article-box > .article-body > .summary{
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 15px 0;
    flex-grow: 1;
}

.article-box-wrap .article-box > .article-body > .more {
    font-size: 1em;
    transition: color 0.5s;
}

.article-box-wrap .article-box > .article-body > .more span{
    font-size: 0.9em;
    font-weight: bold;

    
}

 .article-box-wrap > a.article:hover .article-box > .article-body > .more{
    color: #DF6767;
}

.article-box-wrap .article-box > .article-body > .more i{
    font-size: 0.85em;
    margin-left: 5px;
}


@media(max-width: 1000px){
     .article-box-wrap > a.article{
        width: 33.3%;
       
    }
}

@media(max-width: 768px){
   .article-box-wrap > a.article{
        width: 50%;
        
    }
    .article-box-wrap .article-box{
        max-width: 300px;
    }

     .article-box-wrap > a.article{
        margin-bottom: 30px; 
    }

    #recent-articles > .con > h2.title{

        font-size: 2.3rem;

    }
    

}

@media(max-width: 500px){
     .article-box-wrap > a.article{
        width: 90%;
        margin-bottom: 50px;
        
    }

    .article-box-wrap .article-box > .article-body{
        font-size: 2rem;
    }

   .article-box-wrap .article-box{
        max-width: unset;
    }

}

@media(max-width: 450px){

    .article-box-wrap .article-box > .article-body{
        font-size: 1.7rem;
    }
}

@media(max-width: 350px){
    .article-box-wrap .article-box > .article-body{
        font-size: 1.5rem;
    }
}


/* 최근 글 끝 */



/* 콘텐츠 끝 */

/* 푸터 시작 */

footer{
    background-color: #D5B8B8;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer > div.con{
  height: 200px;
    transition: height 0.5s;
}

footer > div.con > .text-box{
    color: #fff;
    font-size: 1.7rem;
    transition: font-size 0.5s;
}

@media(max-width: 768px){
    footer > div.con{
        height: 150px;       
      }


    }

    @media(max-width: 768px){
        footer > div.con > .text-box{
            font-size: 1.4rem;
        }

    }

/* 푸터 끝 */
/* 게시물 디테일 시작 */
div.detail{
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 1.6rem;
    transition: margin 0.5s;
}

div.detail * {
    transition: font-size 0.5s;
    

}

div.detail > div.article_info{
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(108,108,108,0.3);
    position: relative;
    margin-bottom: 20px;
}



div.detail > div.article_info > div.img-box{
    position: absolute;
    top: 0;
    right: 0;
    max-width: 140px;
    max-height: 80px;
    width: 100%;
    margin: 0 10px;

    animation-name: bangul-jump;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: linear;
}

div.detail > div.article_info > div.img-box > img{
    width: 100%;
    max-height: 80px;
    height: 100%;
    object-fit: cover;
}

div.detail > div.article_info > div.info-wrap{
    flex-wrap: wrap;
}

div.detail > div.article_info > div.info-wrap > span{
    font-size: 0.85em;
    margin-right: 2rem;
   color: rgba(108,101,101,0.6);
}

div.detail > div.article_info > .article_title{
    font-size: 2.3em;
    margin-bottom: 1.5rem;
}

 div.detail > div.article_info > .article_title::before{
    content: "\f1b0";   
    margin-right: 10px;
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 900;
    text-rendering: auto;
    display: inline-block;
}


div.detail div#viewer1 .tui-editor-contents{
    font-size: 1em;
   
}

div.detail div#viewer1 .tui-editor-contents p{
    color:#6C6565;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1em;
    margin: 30px 0;
}

div.detail > div.back-btn{
    text-align: right;   
   margin-top: 70px;
}

div.detail > div.back-btn > span > a{
    display: inline-block;
    padding: 7px 15px;
    background-color:  #9B8181;
    transition: color 0.3s, background-color 0.3s;
    box-shadow: 5px 5px 15px rgba(213,184,184,0.15);
    color: white;

}

div.detail > div.back-btn > span:hover > a{
    background-color:  rgba(205,142,142,1);
    
}

div.detail > div.back-btn > span > a > i{
    margin-right: 7px;
}

@media(max-width:768px){
    div.detail{
        font-size: 1.5rem;
        margin-top: 60px;
    }

    
}

@media(max-width:600px){
    div.detail{
        font-size: 1.4rem;
        margin-top: 50px;
    }
    
    
div.detail > div.article_info > div.info-wrap{
    flex-direction: column;
}

}

@media(max-width:400px){
    div.detail{
        font-size: 1.3rem;
        margin-top: 30px;
    
    }
}

/* 게시물 디테일 끝 */

/* 게시물 리스트 시작 */
div#main .con.cate-item-name-box{
    height: 300px;
    width: 80%;
    max-width: 500px;
    background-color: transparent;
    /* border-bottom: 1px solid rgba(155, 129, 129, 0.3); */
}

div#main div.text-box.cate-item-name{
    color: #9B8181;
}



div.list{
    margin: 100px auto;
    margin-bottom: 150px;
}

.no-article{
    font-size: 1.6rem;
    margin:200px 0;
}





div.list .article-box-wrap .article-box > .article-body > h4.title > span.title::before{
    content: "\f1b0";
    margin-right: 10px;
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 900;
    text-rendering: auto;
    display: inline-block;
}

div.list .article-box-wrap .article-box > .article-body > h4.title > span.date{
    font-size: 0.55em;
    font-weight: normal;
    color: rgba(108,101,101,0.6);
}

div.list .article-box-wrap .article-box > .article-body > .summary{
    justify-content: center;
}

.article-box-wrap .article-box > .article-body > h4.title{
    justify-content: center;
}


@media(min-width:768px){

    

    div.list .date.pc{
        display: block;
    }



    div.list .article-box-wrap .article-box{
        min-width: unset;
        max-width: unset;
        height: 200px;
        width: 100%;
    }
    
    div.list .article-box-wrap > a.article{
        width: 90%;
        max-width: 730px;
       
    }
    
    div.list .article-box-wrap .article-box > .article-thumbnail{
        position: static;
        
        height: 100%;
        max-width: 200px;
    }
    

    
    div.list .article-box-wrap .article-box > .article-thumbnail > div.img-box::after{
        content: "";
        display: block;
        padding-bottom: 100%;
    }
    
    div.list .article-box-wrap .article-box > .article-body{
        position: static;
        height: 100%;
    }
    
    div.list .article-box-wrap .article-box::after{
        display: none;
    }
    
    div.list .article-box-wrap .article-box > .article-body > h4.title{
        font-size: 1.8em;
        justify-content: space-between;
    }
    
    
    
    div.list .article-box-wrap .article-box > .article-body > .summary{
        font-size: 1.2em;
        justify-content: flex-start;
    }


}




@media(max-width:768px){

    div#main .con.cate-item-name-box{
        height: 200px;
    }

    div#main div.text-box.cate-item-name{

   
        
        font-size: 7rem;
    }

    div#main  .con.cate-item-name-box .img-box-wrap{
        top: unset;
        right: 0;
        left: unset;
        transform: none;
    }
   
}

@media(max-width:600px){

    div#main div.text-box.cate-item-name{
        font-size: 5.8rem;
    }
   
}



@media(max-width:500px){

    div#main div.text-box.cate-item-name{
        font-size: 4rem;
    }

    .no-article{
        font-size: 1.5rem;
        margin:130px 0;
    }
   
}


/* 게시물 리스트 끝 */